<section class="brand-section">
    <!-- Bottone per aggiungere un nuova brand -->
    <div class="add-brand-container">
        <button class="btn-add-brand" routerLink="/New-Brand">
            + Add Brand
        </button>

        <button class="btn-add-brand btn-space" (click)="loadBrandsFromDatabase()">
            Upload New Brands
        </button>
    </div>

    <!-- Lista dei brands -->
    <div *ngFor="let brand of brands">
        <app-brand [brand]="brand"></app-brand>
    </div>
</section>