.container {
  margin-top: 2rem;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.btn-outline-primary {
  border-color: #6c63ff; /* Colore viola moderno */
  color: #6c63ff;
  font-weight: 600;
  padding: 10px 20px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Aggiunta di ombra */
}

.btn-outline-primary:hover {
  background-color: #6c63ff;
  color: white;
  border-color: #6c63ff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Ombra più intensa al passaggio del mouse */
}

.btn-outline-primary:focus {
  outline: none;
  box-shadow: 0 0 8px #6c63ff;
}

h2 {
  color: #6c63ff;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Aggiunta di ombra al testo */
}

.text-muted {
  color: #6c757d;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.table {
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Aggiunta di ombra */
}

.table th {
  background-color: #6c63ff;
  color: white;
  text-transform: uppercase;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(108, 99, 255, 0.1); /* Colore viola chiaro */
}

.table-striped tbody tr:hover {
  background-color: rgba(108, 99, 255, 0.2); /* Colore viola più intenso al passaggio del mouse */
}

.product-images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; /* Imposta un'altezza fissa per l'immagine */
  overflow: hidden;
}

.product-image {
  width: 50%; /* L'immagine occuperà tutta la larghezza del contenitore */
  height: 100%; /* L'immagine occuperà tutta l'altezza del contenitore */
  object-fit: cover; /* Ritaglia l'immagine se necessario per adattarsi al contenitore */
}

.product-images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; /* Imposta un'altezza fissa per l'immagine */
  overflow: hidden;

  .btn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Sfondo semi-trasparente */
    border: 2px rgba(0, 0, 0, 0.05) solid;
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .btn:hover {
    background-color: #6c63ff; /* Sfondo completamente bianco al passaggio del mouse */
    color: white;
  }

  .product-image {
    width: 50%; /* L'immagine occuperà tutta la larghezza del contenitore */
    height: 100%; /* L'immagine occuperà tutta l'altezza del contenitore */
    object-fit: cover; /* Ritaglia l'immagine se necessario per adattarsi al contenitore */
  }
}
